*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Montserrat", sans-serif;
     outline: none
}

body{
    background: url("./img/background.png");
}

img{
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    
}

.container{
    width: 500px;
    background-color: #d1d1d1;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

.input-task{
    border: none;
    width: 300px;
    height: 25px;
    border-radius: 5px;
    padding-left: 10px;

}

.button-task{
    border: none;
    border-radius: 5px;
    background-color:#003329;
    height: 25px;
    color: #ffff;
    padding: 0 12px;
    float: right;
    cursor: pointer;
font-weight: 600;
}

.button-task:hover{
    opacity:0.8;
}

.button-task:active{
opacity: 0.6;
}

.list-task{
    width: 100%;
    list-style: none;
    margin-top: 20px;
}

.task{
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
   height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    align-items: center;
    cursor: pointer;
    
    
}

.task:hover img{
opacity: 1;


}

.done{
    background-color: #8fac55;
    text-decoration: line-through;
}